In [16]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
university_ranking18 = pd.read_csv('2018-QS-World-University-Rankings.csv',
                                   encoding='latin-1')
university_ranking19 = pd.read_csv('2019-QS-World-University-Rankings.csv',
                                   encoding='latin-1')
university_ranking20 = pd.read_csv('2020-QS-World-University-Rankings.csv',
                                   encoding='latin-1')

In [18]:
university_ranking18.head()

,2018,2017,Institution Name,Country,Classification,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Academic Reputation,...,Unnamed: 12,Faculty Student,Unnamed: 14,Citations per Faculty,Unnamed: 16,International Faculty,Unnamed: 18,International Students,Unnamed: 20,Overall Score
0,NaN,NaN,NaN,NaN,SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,SCORE,...,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,NaN
1,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5,B,100,...,4,100,14,99.9,8,100,36,96.1,70,100
2,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5,B,100,...,5,100,12,99.4,12,99.6,54,72.7,177,98.7
3,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5,B,100,...,3,98.3,38,99.9,9,96.5,103,75.2,165,98.4
4,4,5,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5,B,99.5,...,77,100,3,100,4,93.4,126,89.2,106,97.7

In [19]:
university_ranking19

,2019,2018,Institution Name,Country,Classification,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Academic Reputation,...,Unnamed: 12,Faculty Student,Unnamed: 14,Citations per Faculty,Unnamed: 16,International Faculty,Unnamed: 18,International Students,Unnamed: 20,Overall Score
0,NaN,NaN,NaN,NaN,SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,SCORE,...,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,NaN
1,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5,B,100,...,4,100,17,99.8,8,100,41,95.5,77,100
2,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5,B,100,...,5,100,16,99,13,99.8,56,70.5,190,98.6
3,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5,B,100,...,1,99.3,40,99.8,9,92.1,151,75.7,164,98.5
4,4,4,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5,B,98.7,...,72,100,4,100,5,96.8,115,90.3,103,97.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,NaN,NaN,WHU OTTO BEISHEIM SCHOOL OF MANAGEMENT - KOBLENZ,Germany,S,SP,VH,3,C,-,...,350,-,-,66.8,117,83,198,61.7,232,-
1022,Source: QS Intelligence Unit (www.topuniversit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,You may not reconfigure the data or content in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1024,Under no circumstances should data be re-order...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1025,NaN,NaN,Find the rankings methodology on www.iu.qs.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
university_ranking18.columns

Index(['2018', '2017', 'Institution Name', 'Country', 'Classification',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Academic Reputation', 'Unnamed: 10', 'Employer Reputation',
       'Unnamed: 12', 'Faculty Student', 'Unnamed: 14',
       'Citations per Faculty', 'Unnamed: 16', 'International Faculty',
       'Unnamed: 18', 'International Students', 'Unnamed: 20',
       'Overall Score'],
      dtype='object')

In [26]:
university_ranking18

,2018,2017,Institution Name,Country,Classification,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Academic Reputation,...,Unnamed: 12,Faculty Student,Unnamed: 14,Citations per Faculty,Unnamed: 16,International Faculty,Unnamed: 18,International Students,Unnamed: 20,Overall Score
0,NaN,NaN,NaN,NaN,SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,SCORE,...,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,NaN
1,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5,B,100,...,4,100,14,99.9,8,100,36,96.1,70,100
2,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5,B,100,...,5,100,12,99.4,12,99.6,54,72.7,177,98.7
3,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5,B,100,...,3,98.3,38,99.9,9,96.5,103,75.2,165,98.4
4,4,5,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5,B,99.5,...,77,100,3,100,4,93.4,126,89.2,106,97.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,NaN,NaN,WHU OTTO BEISHEIM SCHOOL OF MANAGEMENT - KOBLENZ,Germany,S,SP,VH,3,NaN,-,...,-,-,-,-,-,-,-,-,-,-
981,Source: QS Intelligence Unit (www.topuniversit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
982,You may not reconfigure the data or content in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983,Under no circumstances should data be re-order...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
984,NaN,NaN,Find the rankings methodology on www.iu.qs.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# det_columns =  Academic Reputation, Employer Reputation, Faculty to Student Ratio, Number of citations per faculty, International Faculty, International Students

In [22]:
#columns used for the determination of the rankings will be saved in a variable called det_columns
det_columns = [
    'Academic Reputation', 'Employer Reputation', 'Faculty Student',
    'Citations per Faculty', 'International Faculty', 'International Students'
]
university_ranking18[det_columns]

,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students
0,SCORE,SCORE,SCORE,SCORE,SCORE,SCORE
1,100,100,100,99.9,100,96.1
2,100,100,100,99.4,99.6,72.7
3,100,100,98.3,99.9,96.5,75.2
4,99.5,85.4,100,100,93.4,89.2
...,...,...,...,...,...,...
980,-,-,-,-,-,-
981,NaN,NaN,NaN,NaN,NaN,NaN
982,NaN,NaN,NaN,NaN,NaN,NaN
983,NaN,NaN,NaN,NaN,NaN,NaN
984,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
filtered_2018_data = university_ranking18.dropna(axis=0)

In [28]:
filtered_2018_data[det_columns]

,Academic Reputation,Employer Reputation,Faculty Student,Citations per Faculty,International Faculty,International Students
1,100,100,100,99.9,100,96.1
2,100,100,100,99.4,99.6,72.7
3,100,100,98.3,99.9,96.5,75.2
4,99.5,85.4,100,100,93.4,89.2
5,100,100,100,78.3,97.4,97.7
...,...,...,...,...,...,...
954,-,-,-,-,-,-
955,-,-,-,-,-,-
956,-,-,-,-,-,-
957,-,-,-,-,-,-
958,-,-,-,-,-,-

In [30]:
filtered_2018_data.head()

,2018,2017,Institution Name,Country,Classification,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Academic Reputation,...,Unnamed: 12,Faculty Student,Unnamed: 14,Citations per Faculty,Unnamed: 16,International Faculty,Unnamed: 18,International Students,Unnamed: 20,Overall Score
1,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5,B,100,...,4,100,14,99.9,8,100,36,96.1,70,100
2,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5,B,100,...,5,100,12,99.4,12,99.6,54,72.7,177,98.7
3,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5,B,100,...,3,98.3,38,99.9,9,96.5,103,75.2,165,98.4
4,4,5,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5,B,99.5,...,77,100,3,100,4,93.4,126,89.2,106,97.7
5,5,4,UNIVERSITY OF CAMBRIDGE,United Kingdom,L,FC,VH,5,A,100,...,1,100,10,78.3,75,97.4,87,97.7,57,95.6